h6, h4{
    text-align: center;
  }
  
p{
    text-align: center;
    font-size: 10px; 
  }
  
  #div1{
    width: 100%; 
    height: 56%; 
    color: white;  
    text-align: center; 
  }

  #div1 #img1{
    margin-top: 190px; 
    margin-bottom: 37px; 
    width: 7%;
  }

  #div1 #img2{
    margin-top: 127px;
  }

  #aboutus{
    text-align: center; 
    margin: 20px;
  }

  #img3{
    width: 100%; 
    height: 50%;  
    text-align: center; 
    color: white; 
    padding-top: 90px;
    margin-bottom: 20px;
  }

  #services1{
    margin-left: 40px; 
    padding-top: 10px; 
    padding-left: 90px;
    height: 176px;
    width: 350px;
  } 

  #icon2{
    margin-left: 40px; 
    padding-top: 10px; 
    padding-left: 90px;
    height: 176px;
    width: 338px;
    padding-left: 55px; 
    padding-right: 55px;
    display: none;
  }
  
  #services1 #icon1{
    margin-left: 50px;
    padding-top: 40px; 
  }
  
  #services1 p{
    font-size: 15px; 
    padding-right: 75px;
  }

  #icon3{
    display: none;
    padding-left: 55px; 
    padding-right: 55px;
  }

  #services2{
    margin: 40px; 
    padding-top: 10px; 
    padding-left: 90px;
  }

  #services2 p{
    font-size: 15px;
    padding-right: 85px;
  }

  #icon4{
    display: none; 
    padding-left: 55px; 
    padding-right: 55px;
  }

  #services3{
    margin-top: 40px; 
    padding-top: 8px; 
    padding-left: 80px;
    
  }
  
  #services3 p{
    font-size: 15px; 
    padding-right: 0px;
    margin: 0;
    text-align: left;
  }

  #hov1{
    width: 170px;
    height: 170px;
    background: url();
    background-size: cover;
  }
  
  #hov2{
    width: 170px;
    height: 170px;
    background-size: cover;
  }
  #hov3{
    width: 170px;
    height: 170px;
    background-size: cover;
  }
  #hov4{
    width: 170px;
    height: 170px;
    background-size: cover;
  }

  #hover{
    justify-content: center;
    padding-bottom: 20px;
  }
  
 