h6, h4{
    text-align: center;
  }
  
p{
    text-align: center;
    font-size: 10px; 
  }
  
  #div1{
    width: 100%; 
    height: 620px; 
    color: white;  
    text-align: center; 
  }

  #div1 #img1{
    margin-top: 185px; 
    margin-bottom: 27px; 
    /* margin-bottom: 40px;  */
    width: 6.5%;
  }

  #div1 #img2{
    margin-top: 105px;
  }

  #div1 h1{
      line-height: 63px;
  }

  #aboutus{
    text-align: center; 
    margin: 20px;
  }

  #img3{
    width: 100%; 
    height: 320px;  
    text-align: center; 
    color: white; 
    padding-top: 90px;
    margin-bottom: 20px;
  }

  #services1{
    margin-left: 40px; 
    padding-top: 10px; 
    padding-left: 90px;
    height: 176px;
    width: 350px;
  } 

  #icon2{
    margin-left: 40px; 
    padding-top: 10px; 
    padding-left: 90px;
    height: 176px;
    width: 338px;
    padding-left: 55px; 
    padding-right: 55px;
    display: none;
  }
  
  #services1 #icon1{
    margin-left: 10px;
    padding-top: 40px; 
  }
  
  #services1 p{
    font-size: 15px; 
    padding-right: 160px;
  }

  #icon3{
    display: none;
    padding-left: 55px; 
    padding-right: 55px;
  }

  #services2{
    margin: 40px; 
    padding-top: 10px; 
    padding-left: 100px;
  }

  #services2 p{
    font-size: 15px;
    padding-right: 85px;
  }

  #icon4{
    display: none; 
    padding-left: 55px; 
    padding-right: 55px;
  }

  #services3{
    margin-top: 40px; 
    padding-top: 8px; 
    padding-left: 130px;
    
  }
  
  #services3 p{
    font-size: 15px; 
    padding-right: 0px;
    margin: 0;
    text-align: left;
  }

  #hov1{
    width: 200px;
    height: 200px;
    
    background: url();
    background-size: cover;
  }
  
  #hov2{
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  #hov3{
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  #hov4{
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  #hover{
    justify-content: center;
    padding-bottom: 28px;
  }

  .space{
    margin-right: 25px;
  }

  #hov5{
    width: 200px;
    height: 200px;
    
    background-size: cover;
  }
  #hov6{
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  #hov7{
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  #hov8{
    width: 200px;
    height: 200px;
    background-size: cover;
  }

  #hover1{
    width: 90%;
    height: 90%;
    border: 2px solid white;
    margin-top: 10.5px;
    margin-left: 10.5px;
    color: white;
    background: rgb(0,0,0,.6);
    display: none;
  }
  
  #hover2{
    width: 90%;
    height: 90%;
    border: 2px solid white;
    margin-top: 10.5px;
    margin-left: 10.5px;
    color: white;
    background: rgb(0,0,0,.6);
    display: none;
  }
  
  #hover3{
    width: 90%;
    height: 90%;
    border: 2px solid white;
    margin-top: 10.5px;
    margin-left: 10.5px;
    color: white;
    background: rgb(0,0,0,.6);
    display: none;
  }
  
  #hover4{
    width: 90%;
    height: 90%;
    border: 2px solid white;
    margin-top: 10.5px;
    margin-left: 10.5px;
    color: white;
    background: rgb(0,0,0,.6);
    display: none;
  }
  
  #hover5{
    width: 90%;
    height: 90%;
    border: 2px solid white;
    margin-top: 10.5px;
    margin-left: 10.5px;
    color: white;
    background: rgb(0,0,0,.6);
    display: none;
  }
  
  #hover6{
    width: 90%;
    height: 90%;
    border: 2px solid white;
    margin-top: 10.5px;
    margin-left: 10.5px;
    color: white;
    background: rgb(0,0,0,.6);
    display: none;
  }
  
  #hover7{
    width: 90%;
    height: 90%;
    border: 2px solid white;
    margin-top: 10.5px;
    margin-left: 10.5px;
    color: white;
    background: rgb(0,0,0,.6);
    display: none;
  }
  
  #hover8{
    width: 90%;
    height: 90%;
    border: 2px solid white;
    margin-top: 10.5px;
    margin-left: 10.5px;
    color: white;
    background: rgb(0,0,0,.6);
    display: none;
  }

  #img4{
    width: 100%; 
    height: 65%; 
    margin-top: 30px;
  }

  #details{
    padding-top: 40px; 
    text-align: center;
  }

  #details input{
    background: transparent; 
    color: white;
  }

  #details textarea{
    margin-top: 15px; 
    background: transparent; 
    color: white;
  }

  #social{
    justify-content: center; 
    margin-top: 30px;  
  }
  
  #social img{
    margin-left: 20px;
  }
  
 